{% extends "block.html.twig" %} {# /** * @file * Theme override for a branding
block. * * Each branding element variable (logo, name, slogan) is only available
if * enabled in the block configuration. * * Available variables: * - site_logo:
Logo for site as defined in Appearance or theme settings. * - site_name: Name
for site as defined in Site information settings. * - site_slogan: Slogan for
site as defined in Site information settings. */ #} 

{% block content %}
  <div class="navbar-header">
    <button
      type="button"
      class="navbar-toggle"
      data-toggle="collapse"
      data-target=".navbar-collapse"
    >
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span> <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {% if site_logo %}
    <a
      class="navbar-brand"
      href="{{ path('<front>') }}"
      title="{{ 'Home' | t }}"
      rel="home"
    >
      <img src="{{ site_logo }}" alt="{{ 'Home' | t }}" class="img-responsive"
    /></a>
    {% endif %}
  </div>
{% endblock %}
